$mainTextColor: #2f1c6a;

@mixin flexCenter {
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin buttonContent {
  all: unset;
  background-color: rgb(103, 61, 230);
  color: white;
  width: 260px;
  text-align: center;
  font-size: 16px;
  border-radius: 4px;
  font-weight: 700;
  padding: 16px 0 16px;
  cursor: pointer;
}

body {
  margin: 0;
  font-family: "DM Sans", sans-serif;
}

.headerWraper {
  padding: 10px 16px;
  header {
    display: flex;
    justify-content: space-between;
    align-items: center;

    img {
      width: 147px;
      height: 30px;
      object-fit: cover;
    }
  }
}

.mainWraper {
  @include flexCenter();
  flex-direction: column;

  h1 {
    color: $mainTextColor;
    font-size: 24px;
    font-weight: 800;
    max-width: 65%;
    text-align: center;
    margin: 0;
  }

  .describe {
    color: $mainTextColor;
    font-size: 16px;
    line-height: 24px;
    font-weight: 500;
    max-width: 68%;
    text-align: center;
  }

  .price {
    color: $mainTextColor;
    padding-bottom: 16px;

    .numbers {
      font-size: 36px;
      font-weight: 700;
    }
    .euro {
      font-size: 20px;
    }
  }

  .free {
    color: #673de6;
    font-weight: 800;
    font-size: 18px;
    margin: 0;
  }

  .time {
    display: flex;
    margin: 16px 0 24px 0;

    div {
      @include flexCenter();
      border: 1px solid $mainTextColor;
      height: 64px;
      width: 64px;
      border-radius: 6px;
      font-weight: 500;
      font-size: 24px;
      color: $mainTextColor;
    }
    span {
      color: $mainTextColor;
      margin: 16px 4px 0;
      font-size: 18px;
    }
  }

  button {
    @include buttonContent();
    width: 300px;
  }

  .moneyBack {
    color: $mainTextColor;
    @include flexCenter();
    font-weight: 500;
    margin-bottom: 16px;
  }

  img {
    width: 500px;
    height: 300px;
  }
}

.ratingWraper {
  @include flexCenter();
  display: flex;
  flex-direction: column;

  .trustpilot {
    display: flex;
    flex-direction: column;

    img {
      width: 255px;
      height: 100px;
      margin-bottom: 8px;
      margin-top: 100px;
    }

    .reviews::before {
      content: "|";
      margin: 0 6px 0 2px;
      font-weight: 200;
    }
  }

  // google rating

  .google {
    .googleRating {
      display: flex;
      flex-direction: column;
      margin-top: 50px;
    }

    .googleImg {
      width: 80px;
      object-fit: contain;
      margin-top: 30px;
    }

    .fiveStars {
      width: 200px;
      height: 40px;
      object-fit: contain;
      margin-top: 10px;
      margin-bottom: 10px;
    }
    .review::before {
      content: "|";
      margin: 0 6px 0 2px;
      font-weight: 200;
    }
  }

  h2 {
    color: $mainTextColor;
    margin: 0;
    margin-top: 50px;
  }

  p {
    color: $mainTextColor;
    max-width: 70%;
    text-align: center;
    font-weight: 500;
  }
}

// discount box

.discount {
  @include flexCenter();
  margin-top: 16px;

  .discountContent {
    border: 1px solid #d5dfff;
    border-radius: 4px;
    min-width: 470px;
    padding: 10px;

    .closeContainer {
      @include flexCenter();
      max-width: 100%;
      .close {
        all: unset;
        @include flexCenter();
        gap: 4px;
        cursor: pointer;
        color: #673de6;
        font-weight: 700;
        padding: 10px 0 10px;
        width: 68%;
      }
    }
  }

  h3 {
    text-align: center;
    color: $mainTextColor;
    margin-top: 20px;
  }

  .savings {
    .bestDeal {
      text-align: center;
      padding: 0px 10px;
      border-bottom: 1px solid #d5dfff;

      .euroLine {
        color: #727586;
        text-decoration-line: line-through;
        font-size: 14px;
      }

      .save {
        background-color: #ebe4ff;
        color: #5025d1;
        padding: 5px 12px;
        border-radius: 20px;
        font-size: 14px;
        font-weight: 700;
        margin-left: 4px;
      }

      .price {
        color: $mainTextColor;
        padding-top: 16px;

        .numbers {
          font-size: 36px;
          font-weight: 700;
        }
        .euro {
          font-size: 20px;
        }
      }

      .pvm {
        color: $mainTextColor;
        font-size: 14px;
        font-weight: 500;
      }

      .free {
        color: #673de6;
        font-weight: 800;
        font-size: 18px;
        margin: 0;
        margin-bottom: 26px;
      }

      button {
        @include buttonContent();
      }

      .pricePlan {
        margin: 16px 0 26px 0;
        span {
          color: #727586;
          font-size: 14px;
          margin-top: 16px;
        }
      }
    }

    .special {
      display: flex;
      flex-direction: column;
      color: $mainTextColor;
      border-bottom: 1px solid #d5dfff;

      div {
        display: flex;
        align-items: center;
        height: 36px;
      }

      p {
        font-size: 14px;
        display: flex;
        gap: 5px;
      }

      .questionMark {
        display: flex;
        justify-content: space-between;
      }
    }
  }
}

.conditions {
  color: rgb(103, 61, 230);
  font-weight: 700;
  cursor: pointer;
  text-align: center;
  margin-top: 40px;
}

.closeContainer {
  @include flexCenter();
  .close {
    all: unset;
    text-align: center;
    cursor: pointer;
    color: #673de6;
    font-weight: 700;
    padding: 10px 0 10px;
  }
}

.toolsWraper {
  display: flex;
  flex-direction: column;
  align-items: center;

  h2 {
    color: $mainTextColor;
    text-align: center;
    max-width: 80%;
    font-size: 25px;
  }

  p {
    color: $mainTextColor;
    text-align: center;
    max-width: 69%;
    font-weight: 400;
  }

  select {
    width: 70%;
    border: 1px solid #dadce0;
    border-radius: 4px;
    padding: 13px 16px;
    margin-bottom: 25px;
    font-size: 16px;
    cursor: pointer;
    &:hover {
      border: none;
      border: 1px solid #5025d1;
      box-shadow: 0 0 4px #673de6;
    }
  }

  p {
    line-height: 24px;
  }

  .image {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
  }

  img {
    width: 350px;
    height: 200px;
    border-radius: 4px;
  }
}

.aiWraper {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #2f1c6a;
  color: white;
  padding: 40px 0 40px 0;
  margin-top: 80px;

  p {
    display: flex;
    align-items: center;
    gap: 5px;
    margin: 10px 0 10px;
  }

  button {
    @include buttonContent();
    background-color: #fc5185;
    margin: 15px 0 20px;
  }

  img {
    width: 500px;
    height: 350px;
  }
}

@media screen and (min-width: 768px) {
  .mainWraper {
    margin-bottom: 40px;
    padding: 40px 24px 0;
    h1 {
      font-size: 28px;
      min-width: 80%;
    }
    .describe {
      min-width: 73%;
    }

    .price {
      .numbers {
        font-size: 40px;
      }
    }
    img {
      width: 680px;
      height: 450px;
    }
  }
  .ratingWraper {
    .rating {
      @include flexCenter();
      justify-content: space-evenly;
      width: 100%;
    }
    h2 {
      font-size: 28px;
    }
  }
  .discount {
    .discountContent {
      padding: 0;
      padding: 40px 24px 0;
      width: 680px;
      height: 440px;
      .savings {
        display: flex;
        flex-direction: row;

        .bestDeal {
          padding: 0;
          padding-right: 24px;

          border-right: 1px solid #dadce0;
          h3 {
            margin: 0;
            font-size: 20px;
            max-width: 90%;
            margin-bottom: 30px;
          }
          .numbers {
            font-size: 40px;
          }
        }
        .special {
          padding-left: 23px;
          justify-content: center;
        }
      }
      .closeContainer {
        .close {
          padding: 0;
          padding: 20px;
        }
      }
    }
  }
  .conditions {
    margin-bottom: 80px;
  }

  .toolsWraper {
    h2 {
      font-size: 28px;
      max-width: 70%;
    }
    p {
      margin-bottom: 40px;
    }
    select {
      margin-bottom: 40px;
    }
  }

  .aiWraper {
    img {
      width: 680px;
      height: 500px;
    }
  }
}

@media screen and (min-width: 1025px) {
}
