body {
  margin: 0;
  font-family: "DM Sans", sans-serif;
}

.headerWraper header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.headerWraper header .logo {
  width: 160px;
  height: 40px;
  -o-object-fit: cover;
     object-fit: cover;
}
.headerWraper header .flag {
  width: 32px;
  height: 20px;
  -o-object-fit: cover;
     object-fit: cover;
}
.headerWraper header .headerLogo {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
}
.headerWraper header .headerLogo p {
  font-weight: 600;
}
.headerWraper header ul {
  display: flex;
  justify-content: center;
  align-items: center;
  list-style-type: none;
  gap: 25px;
}
.headerWraper header select {
  border: none;
  font-size: 16px;
}
.headerWraper header select:hover {
  opacity: 0.7;
}
.headerWraper header a {
  text-decoration: none;
  color: #1d1e20;
  font-weight: 500;
}
.headerWraper header a:hover {
  opacity: 0.7;
}
.headerWraper header button {
  all: unset;
  border: 2px solid #1d1e20;
  color: #1d1e20;
  border-radius: 4px;
  padding: 12px 16px;
  font-weight: 600;
  cursor: pointer;
}
.headerWraper header button:hover {
  border: 2px solid #1d1e20;
  opacity: 0.7;
}

.mainWraper {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.mainWraper h1 {
  color: #2f1c6a;
  font-size: 24px;
  font-weight: 800;
  max-width: 65%;
  text-align: center;
  margin: 0;
}
.mainWraper .describe {
  color: #2f1c6a;
  font-size: 16px;
  line-height: 24px;
  font-weight: 500;
  max-width: 68%;
  text-align: center;
}
.mainWraper .price {
  color: #2f1c6a;
  padding-bottom: 16px;
}
.mainWraper .price .numbers {
  font-size: 36px;
  font-weight: 700;
}
.mainWraper .price .euro {
  font-size: 20px;
}
.mainWraper .free {
  color: #673de6;
  font-weight: 800;
  font-size: 18px;
  margin: 0;
}
.mainWraper .time {
  display: flex;
  margin: 16px 0 24px 0;
}
.mainWraper .time div {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #2f1c6a;
  height: 64px;
  width: 64px;
  border-radius: 6px;
  font-weight: 500;
  font-size: 24px;
  color: #2f1c6a;
}
.mainWraper .time span {
  color: #2f1c6a;
  margin: 16px 4px 0;
  font-size: 18px;
}
.mainWraper button {
  all: unset;
  background-color: rgb(103, 61, 230);
  color: white;
  width: 260px;
  text-align: center;
  font-size: 16px;
  border-radius: 4px;
  font-weight: 700;
  padding: 16px 0 16px;
  cursor: pointer;
  width: 300px;
}
.mainWraper .moneyBack {
  color: #2f1c6a;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 500;
  margin-bottom: 16px;
}
.mainWraper img {
  width: 500px;
  height: 300px;
}

.ratingWraper {
  display: flex;
  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: column;
}
.ratingWraper .trustpilot {
  display: flex;
  flex-direction: column;
}
.ratingWraper .trustpilot img {
  width: 255px;
  height: 100px;
  margin-bottom: 8px;
  margin-top: 100px;
}
.ratingWraper .trustpilot .reviews::before {
  content: "|";
  margin: 0 6px 0 2px;
  font-weight: 200;
}
.ratingWraper .google .googleRating {
  display: flex;
  flex-direction: column;
  margin-top: 50px;
}
.ratingWraper .google .googleImg {
  width: 80px;
  -o-object-fit: contain;
     object-fit: contain;
  margin-top: 30px;
}
.ratingWraper .google .fiveStars {
  width: 200px;
  height: 40px;
  -o-object-fit: contain;
     object-fit: contain;
  margin-top: 10px;
  margin-bottom: 10px;
}
.ratingWraper .google .review::before {
  content: "|";
  margin: 0 6px 0 2px;
  font-weight: 200;
}
.ratingWraper h2 {
  color: #2f1c6a;
  margin: 0;
  margin-top: 50px;
}
.ratingWraper p {
  color: #2f1c6a;
  max-width: 70%;
  text-align: center;
  font-weight: 500;
}

.discount {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 16px;
}
.discount .discountContent {
  border: 1px solid #d5dfff;
  border-radius: 4px;
  min-width: 470px;
  padding: 10px;
}
.discount .discountContent .closeContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 100%;
}
.discount .discountContent .closeContainer .close {
  all: unset;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 4px;
  cursor: pointer;
  color: #673de6;
  font-weight: 700;
  padding: 10px 0 10px;
  width: 68%;
}
.discount h3 {
  text-align: center;
  color: #2f1c6a;
  margin-top: 20px;
}
.discount .savings .bestDeal {
  text-align: center;
  padding: 0px 10px;
  border-bottom: 1px solid #d5dfff;
}
.discount .savings .bestDeal .euroLine {
  color: #727586;
  text-decoration-line: line-through;
  font-size: 14px;
}
.discount .savings .bestDeal .save {
  background-color: #ebe4ff;
  color: #5025d1;
  padding: 5px 12px;
  border-radius: 20px;
  font-size: 14px;
  font-weight: 700;
  margin-left: 4px;
}
.discount .savings .bestDeal .price {
  color: #2f1c6a;
  padding-top: 16px;
}
.discount .savings .bestDeal .price .numbers {
  font-size: 36px;
  font-weight: 700;
}
.discount .savings .bestDeal .price .euro {
  font-size: 20px;
}
.discount .savings .bestDeal .pvm {
  color: #2f1c6a;
  font-size: 14px;
  font-weight: 500;
}
.discount .savings .bestDeal .free {
  color: #673de6;
  font-weight: 800;
  font-size: 18px;
  margin: 0;
  margin-bottom: 26px;
}
.discount .savings .bestDeal button {
  all: unset;
  background-color: rgb(103, 61, 230);
  color: white;
  width: 260px;
  text-align: center;
  font-size: 16px;
  border-radius: 4px;
  font-weight: 700;
  padding: 16px 0 16px;
  cursor: pointer;
}
.discount .savings .bestDeal .pricePlan {
  margin: 16px 0 26px 0;
}
.discount .savings .bestDeal .pricePlan span {
  color: #727586;
  font-size: 14px;
  margin-top: 16px;
}
.discount .savings .special {
  display: flex;
  flex-direction: column;
  color: #2f1c6a;
  border-bottom: 1px solid #d5dfff;
}
.discount .savings .special div {
  display: flex;
  align-items: center;
  height: 36px;
}
.discount .savings .special p {
  font-size: 14px;
  display: flex;
  gap: 5px;
}
.discount .savings .special .questionMark {
  display: flex;
  justify-content: space-between;
}

.conditions {
  color: rgb(103, 61, 230);
  font-weight: 700;
  cursor: pointer;
  text-align: center;
  margin-top: 40px;
}

.closeContainer {
  display: flex;
  justify-content: center;
  align-items: center;
}
.closeContainer .close {
  all: unset;
  text-align: center;
  cursor: pointer;
  color: #673de6;
  font-weight: 700;
  padding: 10px 0 10px;
}

.toolsWraper {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.toolsWraper h2 {
  color: #2f1c6a;
  text-align: center;
  max-width: 80%;
  font-size: 25px;
}
.toolsWraper p {
  color: #2f1c6a;
  text-align: center;
  max-width: 69%;
  font-weight: 400;
}
.toolsWraper select {
  width: 70%;
  border: 1px solid #dadce0;
  border-radius: 4px;
  padding: 13px 16px;
  margin-bottom: 25px;
  font-size: 16px;
  cursor: pointer;
}
.toolsWraper select:hover {
  border: none;
  border: 1px solid #5025d1;
  box-shadow: 0 0 4px #673de6;
}
.toolsWraper p {
  line-height: 24px;
}
.toolsWraper .image {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}
.toolsWraper img {
  width: 350px;
  height: 200px;
  border-radius: 4px;
}

.aiWraper {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #2f1c6a;
  color: white;
  padding: 40px 0 40px 0;
  margin-top: 80px;
}
.aiWraper p {
  display: flex;
  align-items: center;
  gap: 5px;
  margin: 10px 0 10px;
}
.aiWraper button {
  all: unset;
  background-color: rgb(103, 61, 230);
  color: white;
  width: 260px;
  text-align: center;
  font-size: 16px;
  border-radius: 4px;
  font-weight: 700;
  padding: 16px 0 16px;
  cursor: pointer;
  background-color: #fc5185;
  margin: 15px 0 20px;
}
.aiWraper img {
  width: 500px;
  height: 350px;
}

@media screen and (max-width: 1025px) {
  .headerWraper {
    padding: 10px 35px;
  }
  .headerWraper header svg {
    display: none;
  }
}
@media screen and (max-width: 768px) {
  .headerWraper header {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .headerWraper header .logo {
    width: 160px;
    height: 40px;
    -o-object-fit: cover;
       object-fit: cover;
  }
  .headerWraper header .flag {
    display: none;
  }
  .headerWraper header .headerLogo {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
  }
  .headerWraper header .headerLogo p {
    display: none;
  }
  .headerWraper header ul {
    display: none;
  }
  .headerWraper header select {
    border: none;
    font-size: 16px;
  }
  .headerWraper header select:hover {
    opacity: 0.7;
  }
  .headerWraper header a {
    text-decoration: none;
    color: #1d1e20;
    font-weight: 500;
  }
  .headerWraper header a:hover {
    opacity: 0.7;
  }
  .headerWraper header button {
    all: unset;
    border: 2px solid #1d1e20;
    color: #1d1e20;
    border-radius: 4px;
    padding: 12px 16px;
    font-weight: 600;
    cursor: pointer;
  }
  .headerWraper header button:hover {
    border: 2px solid #1d1e20;
    opacity: 0.7;
  }
  .mainWraper {
    margin-bottom: 40px;
    padding: 40px 24px 0;
  }
  .mainWraper h1 {
    font-size: 28px;
    min-width: 80%;
  }
  .mainWraper .describe {
    min-width: 73%;
  }
  .mainWraper .price .numbers {
    font-size: 40px;
  }
  .mainWraper img {
    width: 680px;
    height: 450px;
  }
  .ratingWraper .rating {
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: space-evenly;
    width: 100%;
  }
  .ratingWraper h2 {
    font-size: 28px;
  }
  .discount .discountContent {
    padding: 0;
    padding: 40px 24px 0;
    width: 680px;
    height: 440px;
  }
  .discount .discountContent .savings {
    display: flex;
    flex-direction: row;
  }
  .discount .discountContent .savings .bestDeal {
    padding: 0;
    padding-right: 24px;
    border-right: 1px solid #dadce0;
  }
  .discount .discountContent .savings .bestDeal h3 {
    margin: 0;
    font-size: 20px;
    max-width: 90%;
    margin-bottom: 30px;
  }
  .discount .discountContent .savings .bestDeal .numbers {
    font-size: 40px;
  }
  .discount .discountContent .savings .special {
    padding-left: 23px;
    justify-content: center;
  }
  .discount .discountContent .closeContainer .close {
    padding: 0;
    padding: 20px;
  }
  .conditions {
    margin-bottom: 80px;
  }
  .toolsWraper h2 {
    font-size: 28px;
    max-width: 70%;
  }
  .toolsWraper p {
    margin-bottom: 40px;
  }
  .toolsWraper select {
    margin-bottom: 40px;
  }
  .aiWraper img {
    width: 680px;
    height: 500px;
  }
}/*# sourceMappingURL=index.css.map */